<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='{% static "reset.css" %}' />
    <link rel="stylesheet" href='{% static "main.css" %}' />
    <title>Document</title>
  </head>
  <style type="text/css">
    a {
      text-decoration: none;
    }
    a:visited {
      color: black;
    }
  </style>
  <body>
    <div class="commonHeader">
      <a href="{% url 'main' %}">
        <div class="headerItem">Home</div>
      </a>
      <a href="{% url 'home' %}">
        <div class="headerItem">Blog</div>
      </a>
      <a href="{% url 'about' %}">
        <div class="headerItem">MyPage</div>
      </a>
      {% if not user.is_authenticated %}
      <a href="{% url 'login' %}">
        <span class="btn"> login</span>
      </a>
      {% endif %} {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">
        <span class="btn"> logout</span>
      </a>
      {% endif %} {% if not user.is_authenticated %}
      <a href="{% url 'signup' %}">
        <span class="btn"> signup</span>
      </a>
      {% endif %}
    </div>

    {% block content %} {% endblock %}
  </body>
</html>
