<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='{% static "home.css" %}' />
    <link rel="stylesheet" href='{% static "reset.css" %}' />
    <title>Document</title>
    <style type="text/css">
      a {
        text-decoration: none;
      }
      a:visited {
        color: black;
      }
    </style>
  </head>
  <body>
    <div class="homeWrapper">
      <div class="homeTitle">
        <span>Jaehyeon's Django Blog</span>
      </div>

      <div class="homeContents">
        <a href="{% url 'new' %}">
          <div class="createBtn">+</div>
        </a>
        {% for blog in blogs %}
        <a href="{% url 'detail' blog.id %}">
          <div class="homeContent">
            <div class="contentTitle"><span>{{blog.title}}</span></div>
            <div class="contentDate">
              <span>{{blog.pub_date}}</span>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
