<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='{% static "main.css" %}' />
    <link rel="stylesheet" href='{% static "reset.css" %}' />
    <title>Document</title>
  </head>
  <body>
    <div class="homeWrapper">
      <div class="homeTitle">
        <span>Jaehyeon's Django Blog</span>
      </div>
      <div class="allBtnWrapper">
        <div class="btnWrapper">
          <a href="{% url 'about' %}">
            <span class="btn"> Go MyPage</span>
          </a>
        </div>
        <div>
          <a href="{% url 'home' %}">
            <span class="btn"> Go Blog</span>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
