.homeWrapper {
  width: 100%;
  height: auto;
  background-color: #34a866;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeTitle {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.homeTitle span {
  color: #ffffff;
  font-weight: 800;
  font-size: 70px;
}

.homeContents {
  width: 100%;
  /* border: 1px solid red; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeContent {
  margin: 40px;
  width: 600px;
  height: 250px;
  border-radius: 15px;
  border: 6px dotted #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.homeContent:hover {
  background-color: aquamarine;
}
.homeContent .contentTitle {
  margin-bottom: 20px;
}

a {
  color: black;
}

.homeContent .contentTitle span {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.contentDate {
  font-size: 16px;
  font-weight: 800;
}

.createBtn {
  border: 3px solid #ffffff;
  border-radius: 15px;
  width: 600px;
  height: 50px;
  color: #ffffff;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.createBtn:hover {
  background-color: #ffffff;
  color: #34a866;
}
