input {
  all: unset;
}

.signupWrapper {
  background-color: #34a866;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  border: 4px solid #000;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 50vh;
  justify-content: space-around;
  align-items: center;
  font-weight: 800;
}

form input {
  width: 300px;
  height: 25px;
  border-radius: 15px;
  padding: 2px 10px;
  background-color: #fff;
  border: 4px solid #000;
}

.helptext {
  display: none;
}

.submitBtn {
  border: 4px solid #000;
  border-radius: 15px;
  width: 70px;
  height: 30px;
  font-weight: 800;
}
