<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    .formWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  </style>
  <body>
    <div class="formWrapper">
      <h1>Write your blog</h1>
      <form action="{% url 'create' %}" method="POST">
        {%csrf_token%} 제 목: <input type="text" name="title" /><br />
        작성자: <input type="text" name="writer" /> <br />
        본문:
        <textarea id="" cols="60" rows="30" name="body"></textarea>
        <button type="submit">submit</button>
      </form>
    </div>
  </body>
</html>
